zerosequioso.com

root * /root/dist
file_server
header -Server

handle_errors {
	header -Server
}

log {
	output file /root/caddy-access.log {
		roll_size 100mb
		roll_keep 5
		roll_keep_for 48h
	}
	format console
	level INFO
}
